<div ng-controller="BlogController">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="text-center">Add Blog</h1>
			</div>
			<div class="modal-body">
				<div class="row">
					<form class="col-md-12 center-block" id="blogForm" method="POST">
						<div class="form-group">
							<input type="text" class="form-control input-lg" name="blogName"
								placeholder="Blog name" ng-model="blog.blogName" />
						</div>
						<div class="form-group">
							<textarea class="form-control input-lg" rows="3"
								name="blogContent" placeholder="Blog content"
								ng-model="blog.blogContent"></textarea>
						</div>
						<div class=form-group>
							<input type="submit" class="btn btn-lg btn-success"
								value="Create Blog" ng-click="insertBlog()"> <input
								type="reset" class="btn btn-lg btn-default" value="Reset">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>