

<div ng-controller="BlogController">
  
<div class="modal-dialog  modal-lg" style="width: 100%">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="text-center">Blogs</h1>
			</div>
			<div class="modal-body">

				<div class="table-responsive">
					<table class="table table-hover">
 <thead>
 <tr>
  <th>Blog Id</th>
  <th>UserName</th>
  <th>Blog Name</th> 
  <th>BLog Content</th>                    
  <th>Likes</th>
  <th>Status</th>
  <th>Action</th>
  </tr>
 </thead>
<tbody>
       <tr ng-repeat="blog in blogData">
                        <td>{{blog.blogId}}</td>
                        <td>{{blog.username}}</td>
                        <td>{{blog.blogName}}</td>
                        <td>{{blog.blogContent}}</td>                     
                        <td>{{blog.likes}}</td>
                        <td>{{blog.status}}</td>
                       <td colspan="3px">
                            <button type="button" ng-click="incrementLike(blog.blogId)"  class="btn btn-info btn btn" ><span class="glyphicon glyphicon-thumbs-up"></span></a>
                            <button type="button" ng-click="deleteBlog(blog.blogId)" class="btn btn-danger" ><span class="glyphicon glyphicon-trash"></span></a>
                            <button type="submit" ng-click="editBlog(blog.blogId)" class="btn btn-success" ><span class="glyphicon glyphicon-pencil"></span></a>
                          
         </tr>
                </tbody>
</table>

</div>
</div>
</div>
</div>
</div>











