
<script type="text/javascript">
$(document).ready(function(){
	console.log('inside jqry');
	$("#btnShowEditForm").click(function(){
		$("#editBlogForm").modal('show');
	});
	
	$("#btnUpdateBlog").click(function(){
		$("#editBlogForm").modal('hide');
	});
	$("#btnAddComment").click(function()){
		$("#addBlogComment").modal('hide');
	}
});
</script>


<div ng-controller="BlogController">
<div class="modal-dialog  modal-lg" style="width: 100%">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="text-center">Manage Blog</h1>
			</div>
			<div class="modal-body">
  <div class="table-responsive">
<table class="table table-hover">
 <thead>
 <tr>
  <th>Blog Id</th>
  <th>UserName</th>
  <th>Blog Name</th> 
  <th>BLog Content</th>                    
  <th>Likes</th>
  <th>Status</th>
  <th>Action</th>
  </tr>
 </thead>
<tbody>
       <tr ng-repeat="blog in blogData">
                        <td>{{blog.blogId}}</td>
                        <td>{{blog.username}}</td>
                        <td>{{blog.blogName}}</td>
                        <td>{{blog.blogContent}}</td>                     
                        <td>{{blog.likes}}</td>
                        <td>{{blog.status}}</td>
                       <td colspan="10px">
                            <button type="button" ng-click="incrementLike(blog.blogId)"  class="btn btn-info btn btn" ><span class="glyphicon glyphicon-thumbs-up"></span></a>
                          <button type="button" ng-hide ="currentUser.userName!=blog.username"   ng-click="deleteBlog(blog.blogId)" class="btn btn-danger" ><span class="glyphicon glyphicon-trash"></span></a></button>
                            <button type="submit" ng-hide ="currentUser.userName!=blog.username"  ng-click="editBlog(blog.blogId)" class="btn btn-success" id="btnShowEditForm" data-target="#editBlogForm" data-toggle="modal" ><span class="glyphicon glyphicon-pencil"></span></a>
                          <button type="submit" ng-hide ="currentUser.userName==blog.username"   ng-click="editBlog(blog.blogId)" 
                          class="btn btn-primary btn-md" id="btnShowAddComment" data-target="#addBlogComment" data-toggle="modal" >Comment</button>
                          <button type="submit" ng-click="listblogComments(blog.blogId)"  class="btn btn-primary btn-md" id="btnShowComment" data-target="#viewBlogComment" data-toggle="modal" >View Comments</button>
         </tr>
 </tbody>
</table>

</div>
</div>
</div>
</div>




<div class="modal fade" id="editBlogForm" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Blog</h4>
        </div>
        <div class="modal-body">
          
					<form class="col-md-12 center-block" id="blogForm" method="POST">
					<div class="form-group">
							<input type="hidden" class="form-control input-lg" name="blogId"
							 ng-model="blog.blogId" />
							 {{blog.blogId}}
						</div>
						<div class="form-group">
							<input type="text" class="form-control input-lg" name="blogName"
								placeholder="Blog name" ng-model="blog.blogName" />
						</div>
						<div class="form-group">
							<textarea class="form-control input-lg" rows="3"
								name="blogContent" placeholder="Blog content"
								ng-model="blog.blogContent"></textarea>
						</div>
						<div class=form-group>
							<input type="submit" class="btn btn-lg btn-success"
								value="Update Blog" ng-click="updateBlog(blog.blogId)" id="btnUpdateBlog"  > <input
								type="reset" class="btn btn-lg btn-default" value="Reset">
						</div>
					</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <!-- blog comment part -->
  
  <div class="modal fade" id="addBlogComment" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Comment</h4>
        </div>
        <div class="modal-body">
          
					<form class="col-md-12 center-block" id="commentForm" method="POST">
					<div class="form-group">
							<input type="hidden" class="form-control input-lg" name="blogId"
							 ng-model="blog.blogId" />
						</div>
						{{blog.blogId}}
						<div class="form-group">
							<textarea class="form-control input-lg" rows="3"
								name="blogComment" placeholder="Comment content"
								ng-model="blogcomment.commentText"></textarea>
						</div>
						<div class=form-group>
							<input type="submit" class="btn btn-lg btn-success"
								value="Add Comment" ng-click="insertblogComment(blog.blogId)" id="btnAddComment" data-dismiss="modal" > <input
								type="reset" class="btn btn-lg btn-default" value="Reset">
						</div>
					</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  
  
  <!-- view comment part -->
  
  <div class="modal fade" id="viewBlogComment" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Comments</h4>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
<table class="table table-hover">
 <thead>
 <tr>
 
  <th>UserName</th>
  <th>Comment</th>  
  <th>Date</th>         
  <th>Action</th>
  </tr>
 </thead>
<tbody>
       <tr ng-repeat="blogcomment in blogcommentData">
                       
                        <td>{{blogcomment.username}}</td>
                        <td>{{blogcomment.commentText}}</td> 
                         <td>{{blogcomment.commentDate}}</td>                       
                       <td colspan="3px">
                            
                          <button type="button" ng-click="deleteBlogComment(blogcomment.commentId)" class="btn btn-danger" data-dismiss="modal" ><span class="glyphicon glyphicon-trash"></span></a></button>
                        </td>
                            
         </tr>
 </tbody>
</table>
					
      </div>
      
    </div>
  </div>
  
</div>
</div>
</div>











