
<div ng-controller="BlogController">

<table>

 <thead>
  <th>Blog Id</th>
  <th>UserName</th>
  <th>Blog Name</th>                     
  <th>Likes</th>
  <th>Status</th>
   <th>Action</th>
 </thead>
<tbody>

             <tr ng-repeat="blog in blogdata">
                       <td>{{blog.blogId}}</td>
                        <td>{{blog.username}}</td>
                        <td>{{blog.blogName}}</td>
                        <td>{{blog.blogContent}}</td>
                        <td>{{blog.createDate}}</td>
                        <td>{{blog.likes}}</td>
                        <td>{{blog.status}}</td>
                       <td>
                           <a href="" class="btn btn-success"><span class="glyphicon glyphicon-info-sign"></span></a>
                           <a href=" " class="btn btn-danger" ng-click="deleteBlog(blog.blogId)"> <span class="glyphicon glyphicon-trash"></span></a>
                           <a href=" "> <span class="glyphicon glyphicon-pencil"></span></a>
                      </td>
                   </tr>
                </tbody>
</table>

</div>