	<div ng-controller="JobController">
	
				<h1 >Add Job</h1>
			
					<form  method="POST">
						
							Company name<input type="text"  name="company" placeholder="" ng-model="job.company" /><br/>
						    					
							Job Description<input type="text" name="jobDescription" placeholder="" ng-model="job.jobDescription" /><br/>
						
						
							Job Title<input type="text" name="jobTitle"	placeholder="" ng-model="job.jobTitle" /><br/>
							
							Salary<input type="text" name="salary" placeholder="" ng-model="job.salary" /><br/>
						
						
						Location<select  name="location" ng-model="job.location">
                               <option value="Select Location">Select Your Location</option>
                               <option value="Dimapur">Dimapur</option>
                               <option value="Kolkata">Kolkata</option>
                               <option value="Bangalore">Bangalore</option>
                               <option value="Delhi">Delhi</option>
                               </select>
						
						<br/>
						
							<input type="submit" value="Add" ng-click="insertJob()"/><br/>
							 <input	type="reset" value="Reset"/>
					
					</form>
				
			</div>
	